.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	border: none;
	background-color: $color-red;
	padding: 14px 16px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: $color-white;
	text-align: center;
	transition: background-color $transition-default;

	@media (min-width: 350px) {
		white-space: nowrap;
	}

	@include desktop {
		padding: 16px 32px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: darken($color-red, 10%);
	}

	&:active {
		background-color: darken($color-red, 5%);
	}
}
