.section-form {
	margin-bottom: 40px;

	@include desktop {
		margin-bottom: 80px;
	}

	&__panel {
		background-color: $color-white;
		border-radius: 12px;

		@include tablet {
			box-shadow: 0 0 80px 4px rgba(#063605, .1);
			padding: 40px;
		}

		@include desktop {
			padding: 60px;
		}
	}

	&__content {
		display: grid;
		grid-template: auto / auto minmax(100px, 100px);
		grid-gap: 26px 24px;
		margin-bottom: 24px;

		@include tablet {
			grid-template: auto / minmax(0,3.12fr) minmax(0, 1fr);
			grid-gap: 0 48px;
			margin-bottom: 32px;
		}

		@include desktop {
			grid-gap: 0 74px;
			margin-bottom: 50px;
		}
	}

	&__title {
		grid-column: 1/2;
		grid-row: 1/2;
		font-size: 40px;
		line-height: 36px;
		font-weight: 700;
		letter-spacing: -.02em;
		font-family: $font-secondary;
		text-transform: uppercase;
		color: $color-black;

		@include tablet {
			grid-column: 1/2;
			grid-row: 1/2;
			margin-bottom: 16px;
			font-size: 48px;
			line-height: 42px;
		}

		@include desktop {
			margin-bottom: 24px;
			font-size: 75px;
			line-height: 64px;
		}
	}

	&__text {
		grid-column: 1/3;
		grid-row: 2/3;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@include tablet {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		@include desktop {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__image {
		width: 100%;
		grid-column: 2/3;

		@include tablet {
			grid-row: 1/3;
		}
	}

	&__form {
	}

	&__form-title {
		margin-bottom: 26px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: $color-black;

		@include tablet {
			margin-bottom: 16px;
			font-size: 18px;
			line-height: 20px;
		}

		@include desktop {
			margin-bottom: 24px;
			font-size: 28px;
			line-height: 32px;
		}
	}

	&__form-result {
	}

	&__hearts-row {
		display: flex;
		gap: 1px;
		margin-bottom: 18px;
		border-radius: 12px;
		overflow: hidden;

		@include tablet {
			margin-bottom: 16px;
		}

		@include desktop {
			margin-bottom: 18px;
			gap: 10px;
			border-radius: 0;
		}
	}

	&__heart {
		flex-shrink: 0;
		flex-grow: 1;
		position: relative;
		z-index: 0;
		display: block;
		min-height: 48px;
		padding: 0;
		background-color: #F4F5F5;
		border: none;
		color: #EBEBEB;
		transition: color $transition-default, background-color $transition-default;

		&:hover,
		&--active {
			background-color: $color-red;
			color: $color-red;
		}

		&::before {
			display: block;
			padding-top: 78%;
			content: "";
		}

		@include tablet {
		}
		@include desktop {
			background-color: transparent;

			&:hover,
			&--active {
				background-color: transparent;
			}
		}
	}

	&__heart-bg {
		display: none;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: contain;

		@include desktop {
			display: block;
		}
	}

	&__heart-value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		font-weight: 700;
		color: #585B5F;
		transition: color $transition-default;

		.section-form__heart:hover &,
		.section-form__heart--active & {
			color: $color-white;
		}

		@include desktop {
			font-size: 20px;
		}
	}

	&__form-text {
		margin-bottom: 16px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		color: #585B5F;
	}

	&__form-error {
		display: none;
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		color: #CD2812;

		.section-form__form--error & {
			display: block;
		}
	}

	&__form-submit {
		width: 100%;
		margin-top: 34px;

		@include tablet {
			max-width: 240px;
		}
		@include desktop {
		}
	}

	&__success-box {
		text-align: center;

		@include tablet {
			text-align: left;
		}
	}

	&__success-grid {
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;

		@include tablet {
			display: grid;
			grid-template: auto / minmax(0,3.12fr) minmax(0, 1fr);
			grid-gap: 0 48px;
			margin-bottom: 32px;
		}

		@include desktop {
			grid-gap: 0 74px;
			margin-bottom: 50px;
		}
	}

	&__success-title {
		margin-bottom: 13px;
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		letter-spacing: -.02em;
		font-family: $font-secondary;
		color: $color-black;

		@include tablet {
			margin-bottom: 16px;
			grid-column: 1/2;
			grid-row: 1/2;
			margin-bottom: 16px;
			font-size: 36px;
			line-height: 38px;
		}

		@include desktop {
			margin-bottom: 24px;
			font-size: 52px;
			line-height: 58px;
		}
	}

	&__success-text {
		margin-bottom: 24px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@include tablet {
			margin-bottom: 0;
		}

		@include desktop {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__success-image {
		order: -1;
		display: block;
		max-width: 100px;
		margin: 0 auto 24px;

		@include tablet {
			order: unset;
			grid-column: 2/3;
			grid-row: 1/3;
			max-width: 100%;
			margin: 0;
		}
	}

	&__success-link {
		width: 100%;

		@include tablet {
			max-width: 324px;
		}
	}
}
